<div class="">
    <a href="{{product.url}}"><h4 class="text-2xl">{{ product.title | escape }}</h4></a>
    
    <div class=" flex-col  gap-3 justify-between items-baseline">
        <div class="text-sm truncate">
            {{product.tags | join: ', '}}
        </div>
        <div>
            {% render '[product]-price' product:product   %}
        </div>
    </div>

</div>

