<a href="{{product.url}}" class="flex-1">
    <div class="w-full relative hover:shadow-lg">
        <div class="pt-[100%]"></div>
        {% render 'image-full' ,image:product.images[0] %}
    </div>
    <div class="mt-6">
        <h4 class="text-2xl">{{ product.title | escape }}</h4>
        <div class="flex  gap-3 justify-between items-baseline">
            <div class="text-sm truncate">gold, jade pendant</div>
            <div>
                {% render '[product]-price' product:product  class: 'flex gap-x-3 truncate items-baseline flex-wrap justify-end' %}
            </div>
        </div>

    </div>
</a>