
<a href="{{url}}" class="btn group {{class}}">{{text}} 
    <svg style="font-size: 4em;" class="icon ml-6 icon-arrow group-hover:ml-8 transition-all transform rotate-180 duration-500" viewBox="0 0 50 9" stroke="currentColor"><path d="m0 4.5 5-3m-5 3 5 3m45-3h-77"></path></svg>
</a>