<div class="container mx-auto my-24 space-x-18 flex">
    <div class="flex flex-col justify-center max-w-xs relative">
        {% render '[section]-heading'  class: '' %}
        {% render '[section]-sub-heading'  class: 'mt-3' %}
        {% render '[section]-description'  class: 'mt-8' %}
    </div>
    <div class="flex-1 flex space-x-6">
        <div class="flex-1 space-y-6">
            <div class="relative">
                <div class="relative aspect-w-16 aspect-h-12">
                </div>
                {% render 'image-full'  class: '' %}
            </div>
            <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</div>
        </div>
        <div class="flex-1 space-y-6">
            <div class="relative">
                <div class="relative aspect-w-16 aspect-h-12">
                </div>
                {% render 'image-full'  class: '' %}
            </div>
            <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</div>
        </div>
    </div>
    
   
</div>
{% schema %}
{
    "name": "Featured 10",
    "tag": "section",
    "settings": [
        {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"Rated excellent"
        },
        {
        "type":"text",
        "id":"sub_heading",
        "label":"Sub Heading",
        "default":"BY YOU"
        },
        {
        "type":"richtext",
        "id":"description",
        "label":"Description",
        "default":"<p>It’s time to sale. 10 - 50% off on selected items.</p><p>Ends 5 September.</p>"
        },{
        "type": "text",
        "id": "buttonText",
        "label": "Button Text",
        "default": "SHOP NOW"
        }, 
        {
        "type": "url",
        "id": "buttonUrl",
        "label": "Button Url",
        "default": "/"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image background"
        }
    ],
    
    "presets": [
        {
            "name": "Featured 10",
            "blocks": []
        }
    ]
}
{% endschema %}