<div id="{{ section.id }}" class="container mx-auto mt-16">
    <div class="w-full relative">
        <div class="ml-[45%] mr-[22%] pt-[3%] pl-[5%] pr-[2%] pb-[400px]">
            <h2 class="text-6xl ">{{section.settings.heading}}</h2>
            <div class="text-xl mt-4">{{section.settings.sub_heading}}</div>
            <div class="mt-12">{{section.settings.description}}</div>
            {% render 'button' url: section.settings.buttonUrl text: section.settings.buttonText class: 'mt-12' %}
        </div>
        <div class="w-[45%] absolute left-0 top-0 h-full ">
            {% render 'image-full' image: section.settings.image1 %}
        </div>
        <div class="w-[22%] absolute right-0 bottom-[7%] ">
            <div class="pt-[145%]"></div>
            {% render 'image-full' image: section.settings.image2 %}
        </div>
        <div class="absolute right-[25%] w-[15%] bottom-[0%]  ">
            <div class="pt-[145%]"></div>
            {% render 'image-full' image: section.settings.image3 %}
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Featured 1",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "New Collection"
        }, {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading",
            "default": "FALL WINTER 2021"
        }, {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Integer in luctus ante. Praesent tellus ligula, quis lobortis velit lacinia luctus.</p>"
        }, {
            "type": "text",
            "id": "buttonText",
            "label": "Button Text",
            "default": "SHOP ALL"
        }, {
            "type": "url",
            "id": "buttonUrl",
            "label": "Button Url",
            "default": "/"
        }, {
            "type": "image_picker",
            "id": "image1",
            "label": "image 1"
        }, {
            "type": "image_picker",
            "id": "image2",
            "label": "image 2"
        }, {
            "type": "image_picker",
            "id": "image3",
            "label": "image 3"
        }
    ],
    "presets": [
        {
            "name": "Featured 1",
            "blocks": []
        }
    ]
}

{% endschema %}