<div class="container mx-auto my-24 space-x-6 tw-grid grid-cols-1 lg:grid-cols-2 items-center`">
    <div class="flex-1 flex flex-col justify-center relative py-12 px-20">
        {% render '[section]-image-full'  class: '' %}
        <div class="w-full flex flex-col isolate text-white items-start">
            <div class="flex-1">
                {% render '[section]-heading'  class: 'mt-8' %}
            </div>
            {% render '[section]-sub-heading'  class: 'mt-12' %}
            {% render '[section]-description'  class: 'mt-6' %}
            {% render '[section]-button'  class: 'mt-12' %}
        </div>
    </div>
    <div class="flex-1 flex relative">
        <div></div>
        {% render '[section]-image-full' image : section.setting.image2 class: '' %}
    </div>

</div>
{% schema %}

{
    "name": "Featured 14",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Handcrafted jewelry"
        }, {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading",
            "default": "SUBTITLE"
        }, {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>"
        }, {
            "type": "text",
            "id": "buttonText",
            "label": "Button Text",
            "default": "LEAR MORE"
        }, {
            "type": "url",
            "id": "buttonUrl",
            "label": "Button Url",
            "default": "/"
        }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image background"
        }
    ],
    "presets": [
        {
            "name": "Featured 14",
            "blocks": []
        }
    ]
}

{% endschema %}