   

<form id="filter-box" class="w-full pointer-events-none mt-6">
    <div class="page-width bg-base-100 pointer-events-auto">
      <div class="text-center  flex justify-end space-x-6">
        <div class="py-1 border-b border-neutral flex items-center">
          <div class="font-bold">FILTER</div>
          <div class="px-6">(0)</div>
          <div class="flex items-center">
            {% include 'icon-minus' %}
          </div>
        </div>
        <div class="py-1 border-b border-neutral flex items-center">
          <div class="font-bold">SORT BY</div>
          <div class="px-6">All products</div>
          <div class="flex items-center">
            {% include 'icon-plus' %}
          </div>
        </div>
      </div>
      <div class="w-full mt-10 flex space-x-6">
        {% for i in (1..3) %}
          <div class="flex-1">
            <div class="font-heading text-3xl border-black">Collection</div>
            <div class="h-px w-full bg-neutral mt-3"></div>
            <ul class="flex flex-col space-y-4 mt-6">
              <li>
                <div class="text-effect-1">
                  All collections
                </div>
              </li>
              <li>
                <div class="text-effect-1">
                  All collections
                </div>
              </li>
              <li>
                <div class="text-effect-1">
                  All collections
                </div>
              </li>
              <li>
                <div class="text-effect-1">
                  All collections
                </div>
              </li>
              <li>
                <div class="text-effect-1">
                  All collections
                </div>
              </li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
</form>

{% schema %}

{
    "name": "Collection",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
        
    ]
}

{% endschema %}